.App {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
.root,
.App {
  height: 100%;
  display: block;
  background: #ddd;
}