.App {
  /* text-align: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
.root,
.App {
  height: 100vh;
  display: block;
  background: #ddd;
}

.container {
  max-width: 1024px;
  margin: auto;
}